*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#00960f ;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    
}
header{
    display: flex;
    justify-content: center;
    height: 10vh;
    font-size: 36px;
}
main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    color: white;
    font-size: 25px;
    
}
.figure{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 220px;
    max-height: 220px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

}
.frame{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Pbuttons .figure:hover{
    background-color: aquamarine;
}
.frame{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: white;
}
.figure img{
    max-width:  181px;
    max-height: 181px;
}
.frame img{
    max-width:  150px;
    max-height: 151px;
}
section{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
.grey{
    background-color: gray;
    color: white;
}